<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar bg-secondary text-white mb-3">
    <!-- Sidebar scroll-->
    <div>
        <!-- Sidebar navigation-->
        <nav>
            <h5>
                <img src="/assets/images/icons/shared/header-ico.png" width="30" height="30" class="d-inline-block align-top" alt="P"> USER

            </h5>
            <ul id="sidebarnav">

                <div class="navbar-nav">
                    <a class="nav-item nav-link active text-white" routerLink="/ficha" routerLinkActive="active">FICHA
                        <span class="sr-only">(current)</span>
                    </a>
                </div>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->